[submodule "fusee-launcher-new"]
	path = fusee-launcher-new
	url = https://gitlab.com/grate-driver/fusee-launcher-new
[submodule "tegrarcm"]
	path = tegrarcm
	url = https://gitlab.com/grate-driver/tegrarcm
