[submodule "fusee-launcher-new"]
	path = fusee-launcher-new
	url = https://codeberg.org/libre-tegra/fusee-launcher-new
[submodule "tegrarcm"]
	path = tegrarcm
	url = https://codeberg.org/libre-tegra/tegrarcm
